{% extends 'base.html' %} {% block content %}
<h1>Change Password</h1>
<form method="POST">
	{{ form.hidden_tag() }}
	<div class="form-group">
		{{ form.old_password.label }} {{
		form.old_password(class_='form-control') }} {% for error in
		form.old_password.errors %}
		<span class="invalid-feedback">{{ error }}</span>
		{% endfor %}
	</div>
	<div class="form-group">
		{{ form.new_password.label }} {{
		form.new_password(class_='form-control') }} {% for error in
		form.new_password.errors %}
		<span class="invalid-feedback">{{ error }}</span>
		{% endfor %}
	</div>
	<div class="form-group">
		{{ form.confirm_password.label }} {{
		form.confirm_password(class_='form-control') }} {% for error in
		form.confirm_password.errors %}
		<span class="invalid-feedback">{{ error }}</span>
		{% endfor %}
	</div>
	<button type="submit" class="btn btn-primary">Update Password</button>
</form>
{% endblock %}
